<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.olts.pojo"/>
    </typeAliases>
    <!--配置Mapper的位置 -->
    <!--<mappers>-->
        <!--<package name="com.olts.mapper"/>-->
    <!--</mappers>-->
</configuration>
